.main {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1303px;
    margin: 30px auto;
}

.hero {
    height: 486px;
}

.hero img {
    /* width: 100%; */
    object-fit: cover;
}

.benefits {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--light);
    background-color: var(--secondary-dark);
}

.benefits_img {
    width: 376px;
    height: 376px;
}

.benefits_text {
    width: 630px;
}
.benefits_text h1 {
    margin: 15px 0;
}

.benefits_text p {
    margin-bottom: 15px;
}

.benefits_text ul {
    margin-left: 30px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits_text ul li {
    font-weight: 700;
    
    font-size: 1.25rem;
    line-height: 1.44rem;
}
.footer {
    height: 500px;
    background-color: var(--secondary-darkest);
    color: var(--light);
}

.footer h2 {
    text-align: center;
    margin: 53px auto;
    font-size: 2.125rem;
}

.footer_cards {
    display: flex;
    justify-content: center;
    gap: 45px;
    color: var(--background);
}

.footer_cards p {
    max-width: 328px;
}