.header {
    width: 100%;
}

.container {
    max-width: 1185px;
    margin: 0 auto;
}

@media (max-width: 1215px) {
    .container {
        margin: 0 30px;
    }
}

.logo-wrapper,
.nav-wrapper {
    width: 100%;
    height: 3rem;

    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.logo-wrapper {
    background-color: var(--primary);
}

.nav-wrapper {
    background-color: var(--light);
}

.logo {
    color: var(--font-dark);
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.nav {
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.search {
    position: relative;
}

.search>input {
    width: 326px;
    height: 2.375rem;
    padding: 0 20px 0 54px;

    border: none;

    background: #FFFFFF;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 29px;

    font-size: 0.875rem;
    font-weight: 400;
}

.search>button {
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
}

.links {
    display: flex;
    gap: 40px;

    list-style: none;
}

.links li {
    margin: 0;
    padding: 0;
}

.link {
    font-size: 0.875rem;
    color: var(--secondary);
    text-decoration: none;
}

.link:hover {
    color: var(--secondary-mute);
}