.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*All posts*/
.card {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    letter-spacing: -0.02em;
}

.card_picture {
    position: relative;
    height: 130px;
    overflow: hidden;
}

.card_img {
    width: 100%;
    object-fit: cover;
}

.card_content {
    padding: 0 15px 15px 15px;
}

.card_gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.card_title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card_text {
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.02em;
}

.card_more {
    display: block;
    margin-top: 10px;
}

.card_stats {
    display: flex;
    align-items: end;
    gap: 10px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.card_count {
    color: var(--system-succsess);
    font-size: 1.875rem;
    font-weight: 500;
}

.card_button {
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    font-size: 1.125rem;
    font-weight: 700;
}

.card .card_button:first-of-type {
    color: var(--system-succsess);
}
.card .card_button:last-of-type {
    color: var(--system-fail);
}


@media (min-width: 1281px) {

    /*First post*/
    .card:first-of-type {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .card:first-of-type .card_picture {
        height: 405px;
    }

    .card:first-of-type .card_title {
        font-size: 2.125rem;
    }

    .card:first-of-type .card_text {
    }
    /*6+ posts*/

    .card:nth-of-type(n + 6) {
        grid-column: span 2;
        display: flex;
    }

    .card:nth-of-type(n + 6) .card_content {
        padding: 15px;
    }

    .card:nth-of-type(n + 6) .card_title {
        font-size: 2.125rem;
    }
    .card:nth-of-type(n + 6) .card_picture {
        min-width: 250px;
        height: 100%;
    }

    .card:nth-of-type(n + 6) .card_img {
        width: 100%;
        height: 100%;
    }

    .card:nth-of-type(n + 6) .card_gradient {
        right: 0;
        height: 100%;
        width: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
}

.more-posts {
    cursor: pointer;
    margin: 28px auto;
    display: block;
    width: 132px;
    height: 38px;
    border: none;

    background: var(--primary);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

.more-posts:hover {
    background: var(--primary-hover);
}

.up-to-start {
    cursor: pointer;
    position: fixed;
    width: 153px;
    height: 52px;
    top: 50%;
    left: calc(50% + 752px);
    right: 20px;
    transform: translate(-50%, -50%);
    border: none;

    background: var(--light);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

@media (max-width: 1700px) {
    .up-to-start {
        left: auto;
        right: -56px;
    }
}

@media (max-width: 1280px) {
    .main {
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* margin: 30px; */
    }

    .card {
        height: 300px;
        display: flex;
    }

    .card .card_content {
        padding: 15px;
    }

    .card .card_title {
        font-size: 2.125rem;
    }
    .card .card_picture {
        min-width: 42%;
        height: 100%;
    }

    .card .card_img {
        width: 100%;
        height: 100%;
    }

    .card .card_gradient {
        right: 0;
        height: 100%;
        width: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    .up-to-start {
        display: none;
    }

}