body {
    margin: 0;
    background-color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Local-Roboto', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'Local-Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Local-Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Local-Roboto';
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');
}

:root {
    --background: #F6F6F6;

    --light: #FFFFFF;

    --primary: #FFFD00;
    --primary-hover: #FFE600;
    --primary-mute: #FFFE8A;
    --primary-dark: #434200;

    --secondary: #A102FF;
    --secondary-dark: #61019A;
    --secondary-darkest: #3D0062;
    --secondary-mute: #D48BFF;
    
    --font: #232323;
    --font-mute: #232323B2;

    --system-info: #89C6FF;
    --system-fail: #FF9494;
    --system-succsess: #7CF253;
    --system-warning: #FFC480;

    /* font-size: 16px; */
}

h1, h2 {
    font-weight: 700;
}